@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap");

.navbar {
  border-bottom: 2px solid #eee;
  background: #fff;
}

.main-title {
  font-family: "Gelasio", serif;
}

.main-description {
  font-family: "Heebo", sans-serif;
  color: #424242;
}

.section-1 {
  position: relative;
}

.section-1::after {
  content: "";
  display: block;
  height: 50rem;
  width: 50rem;
  background: url(../svgs/one.svg) no-repeat;
  background-size: 100%;
  position: absolute;
  top: -5rem;
  right: -4rem;
  z-index: -1;
}

@media (max-width: 992px) {
  h1 {
    margin-top: 30px;
  }

  .section-1::after {
    display: none;
  }
}

.platform {
  margin-top: 3rem;
}

.platform-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 0.12rem;
  color: #b1b1b1;
}

.platform-list {
  margin-top: 2rem;
}

.platform-image {
  height: 2rem;
  margin: 0 1.1rem;
  opacity: 0.3;
  transition: all 1s;
}

.platform-image:hover {
  opacity: 1;
}