@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@700&display=swap");

.navbar {
  border-bottom: 2px solid #eee;
  background: #fff;
}

.main-title {
  font-family: "Pragati Narrow", sans-serif;
}

.mybold {
  font-family: "Roboto", sans-serif;
  color: #424242;
}

.section-1 {
  position: relative;
}

.section-1::after {
  content: "";
  display: block;
  height: 50rem;
  width: 50rem;
  background: url(../svgs/one.svg) no-repeat;
  background-size: 100%;
  position: absolute;
  top: -5rem;
  right: -4rem;
  z-index: -1;
}

@media (max-width: 992px) {
  h1 {
    margin-top: 30px;
  }

  .section-1::after {
    display: none;
  }
}

.platform {
  margin-top: 3rem;
}

.platform-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 0.12rem;
  color: #b1b1b1;
}

.platform-list {
  margin-top: 2rem;
}

.platform-image {
  height: 2rem;
  margin: 0 1.1rem;
  opacity: 0.3;
  transition: all 1s;
}

.platform-image:hover {
  opacity: 1;
}

.gradient-icon {
  border-radius: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  color: #fff;
  background: #540cfa;
  text-align: center;
  line-height: 3.5rem;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.gradient-1 {
  background: linear-gradient(150deg, #9c09db, #1c0fd7) !important;
  box-shadow: 0 2px 4px rgba(36, 8, 128, 0.2);
}

.gradient-2 {
  background: linear-gradient(150deg, #F2C314, #FC3832) !important;
  box-shadow: 0 2px 4px rgba(36, 8, 128, 0.2);
}
.gradient-3 {
  background: linear-gradient(150deg, #32FBFC, #3214F2) !important;
  box-shadow: 0 2px 4px rgba(36, 8, 128, 0.2);
}
